.paymentColor {
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
}

.paymentNumber {
  margin-bottom: 10px;
}

.paymentWrap {
  margin-bottom: 10px;
}

.underWrap {
  display: flex;
  align-items: center;
}

.totalPrice {
  margin-right: 10px;
}

.paymentTitle {
  color: #fff;
}

.paymentWidth {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.paymentItem img {
  width: 100%;
}

.paymentList {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dae0e5;
}

.paymentList:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.gameList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;

  &:last-child {
    border: none;
  }
}

.gameLeft {
  display: flex;
  align-items: center;
}

.gameImage {
  img {
    width: 70px;
  }
}

.gameTitle {
  margin-left: 10px;
  color: #fff;
}

.gameWrap {
  button {
    height: 36px;
    line-height: 1;

    &:first-child {
      margin-right: 10px;
    }
  }
}