.pswpPreloaderIcn {
  opacity: 0.75;
  width: 30px;
  height: 30px;
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
}

.pswpPreloaderCut {
  position: relative;
  width: 15px;
  height: 30px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.pswpPreloaderDonutFake {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

.pswpPreloaderDonut {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
  animation: donut-rotate 1000ms cubic-bezier(.4, 0, .22, 1) infinite;
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg)
  }

  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0)
  }

  50% {
    -webkit-transform: rotate(-140deg)
  }

  100% {
    -webkit-transform: rotate(0)
  }
}

@keyframes donut-rotate {
  0% {
    transform: rotate(0)
  }

  50% {
    transform: rotate(-140deg)
  }

  100% {
    transform: rotate(0)
  }
}

.preloaderWrapper {
  position: fixed;
  background-color: #000000d6;
  left: 0;
  right: 0;
  z-index: 9999;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}